# Initialize and Login

In [1]:
from dotenv import load_dotenv
load_dotenv()
import os
MT5_ACCOUNT_NUMBER = int(os.getenv("MT5_ACCOUNT_NUMBER"))
MT5_PASSWORD = os.getenv("MT5_PASSWORD")
MT5_SERVER = os.getenv("MT5_SERVER")

In [2]:
from f_engine import MT5Account, Engine, MultiTimeframeTrendFollowing

In [5]:
mt5 = MT5Account()
mt5.account_number = MT5_ACCOUNT_NUMBER
mt5.password = MT5_PASSWORD
mt5.server = MT5_SERVER
mt5.start()
mt5.login()

connected to account #125480726

In [6]:
all_pair = mt5.get_all_pair()

In [7]:
all_pair

['EURUSDm',
 'GBPUSDm',
 'NZDUSDm',
 'XAGUSDm',
 'XAUUSDm',
 'XPDUSDm',
 'XPTUSDm',
 'BTCUSDm',
 'ETHUSDm',
 'LTCUSDm',
 'XNGUSDm',
 'AUDUSDm',
 'XALUSDm',
 'XCUUSDm',
 'XNIUSDm',
 'XPBUSDm',
 'XZNUSDm']

In [ ]:
def complex_strategy(engine: Engine, instrument:str)->None:
    engine.signal_set.append(MultiTimeframeTrendFollowing(symbol=instrument, test=False))
    engine.execute_trade(mt5=True)
    engine.signal_set.clear()

In [ ]:
def show_market(engine: Engine, instrument:str)->None:
    signal = MultiTimeframeTrendFollowing(symbol=instrument, test=False)
    engine.signal_set.append(signal)
    engine.show_instrument_condition()
    if signal.condition_met:
        print("condition met")
    else:
        print("condition not met")
    # engine.execute_trade(mt5=True)
    engine.signal_set.clear()

In [ ]:
engine = Engine()
engine.connect_mt5(mt5=mt5)

In [ ]:
import MetaTrader5 as mt
from pandas import DataFrame

symbol = "EURUSDm"
import datetime
start_time = datetime.datetime.now() - datetime.timedelta(days=5)
end_time = datetime.datetime.now()
m15 = mt.copy_rates_range(symbol, mt.TIMEFRAME_M15, start_time, end_time)
m15_price = DataFrame(m15)

In [18]:
import ta

In [21]:
df

,time,open,high,low,close,tick_volume,spread,real_volume
0,1702328400,1.07639,1.07648,1.07631,1.07633,282,8,0
1,1702329300,1.07634,1.07648,1.07634,1.07639,228,8,0
2,1702330200,1.07639,1.07645,1.07631,1.07639,223,8,0
3,1702331100,1.07637,1.07639,1.07620,1.07634,206,8,0
4,1702332000,1.07627,1.07627,1.07584,1.07604,102,34,0
...,...,...,...,...,...,...,...,...
383,1702673100,1.09009,1.09038,1.08937,1.08939,644,8,0
384,1702674000,1.08937,1.08963,1.08916,1.08922,597,8,0
385,1702674900,1.08925,1.08949,1.08921,1.08937,324,8,0
386,1702675800,1.08937,1.08945,1.08932,1.08944,246,8,0
387,1702676700,1.08943,1.08953,1.08932,1.08945,200,8,0

In [19]:
df = m15_price

In [22]:
df['ATR'] = ta.volatility.average_true_range(df['high'], df['low'], df['close'], window=14)

In [26]:
volatility_threshold = 0.5

In [27]:
df['HighVolatility'] = df['ATR'] > (volatility_threshold * df['ATR'].mean())

In [46]:
is_high_volatility = df["HighVolatility"].iloc[-1]

In [32]:
import pandas as pd
df['time'] = pd.to_datetime(df['time'], unit='s')

In [34]:
df[-50:]

,time,open,high,low,close,tick_volume,spread,real_volume,ATR,HighVolatility
338,2023-12-15 09:30:00,1.09628,1.09670,1.09495,1.09502,1055,8,0,0.000893,True
339,2023-12-15 09:45:00,1.09501,1.09608,1.09486,1.09599,794,8,0,0.000916,True
340,2023-12-15 10:00:00,1.09596,1.09635,1.09559,1.09567,881,8,0,0.000905,True
341,2023-12-15 10:15:00,1.09567,1.09672,1.09565,1.09645,759,8,0,0.000917,True
342,2023-12-15 10:30:00,1.09645,1.09649,1.09596,1.09646,658,8,0,0.000889,True
343,2023-12-15 10:45:00,1.09644,1.09666,1.09613,1.09640,674,8,0,0.000864,True
344,2023-12-15 11:00:00,1.09639,1.09672,1.09616,1.09642,769,8,0,0.000842,True
345,2023-12-15 11:15:00,1.09642,1.09663,1.09563,1.09602,750,8,0,0.000853,True
346,2023-12-15 11:30:00,1.09603,1.09685,1.09584,1.09675,756,8,0,0.000864,True
347,2023-12-15 11:45:00,1.09675,1.09692,1.09640,1.09678,664,8,0,0.000840,True
348,2023-12-15 12:00:00,1.09681,1.09691,1.09590,1.09595,586,8,0,0.000852,True
349,2023-12-15 12:15:00,1.09597,1.09611,1.09559,1.09576,573,8,0,0.000828,True
350,2023-12-15 12:30:00,1.09576,1.09580,1.09537,1.09557,559,8,0,0.000800,True
351,2023-12-15 12:45:00,1.09557,1.09558,1.09406,1.09430,817,8,0,0.000851,True
352,2023-12-15 13:00:00,1.09433,1.09480,1.09392,1.09455,895,8,0,0.000853,True
353,2023-12-15 13:15:00,1.09457,1.09464,1.09409,1.09413,924,8,0,0.000832,True
354,2023-12-15 13:30:00,1.09411,1.09491,1.09036,1.09142,2956,8,0,0.001097,True
355,2023-12-15 13:45:00,1.09137,1.09225,1.09071,1.09159,1869,8,0,0.001129,True
356,2023-12-15 14:00:00,1.09159,1.09216,1.09128,1.09195,1404,8,0,0.001111,True
357,2023-12-15 14:15:00,1.09195,1.09278,1.09189,1.09189,1424,8,0,0.001095,True
358,2023-12-15 14:30:00,1.09187,1.09206,1.09101,1.09184,1630,8,0,0.001092,True
359,2023-12-15 14:45:00,1.09187,1.09245,1.09119,1.09191,2257,8,0,0.001104,True
360,2023-12-15 15:00:00,1.09193,1.09227,1.09096,1.09185,1734,8,0,0.001119,True
361,2023-12-15 15:15:00,1.09184,1.09215,1.09135,1.09168,1210,8,0,0.001096,True
362,2023-12-15 15:30:00,1.09166,1.09203,1.09085,1.09085,1113,8,0,0.001102,True
363,2023-12-15 15:45:00,1.09083,1.09188,1.09047,1.09150,1325,8,0,0.001124,True
364,2023-12-15 16:00:00,1.09149,1.09162,1.09026,1.09072,1042,8,0,0.001141,True
365,2023-12-15 16:15:00,1.09073,1.09157,1.09054,1.09135,931,8,0,0.001133,True
366,2023-12-15 16:30:00,1.09133,1.09164,1.09026,1.09037,821,8,0,0.001151,True
367,2023-12-15 16:45:00,1.09037,1.09067,1.09012,1.09050,805,8,0,0.001108,True
368,2023-12-15 17:00:00,1.09051,1.09120,1.09037,1.09109,817,8,0,0.001088,True
369,2023-12-15 17:15:00,1.09112,1.09151,1.09088,1.09144,793,8,0,0.001055,True
370,2023-12-15 17:30:00,1.09143,1.09159,1.09091,1.09106,595,8,0,0.001028,True
371,2023-12-15 17:45:00,1.09106,1.09129,1.09087,1.09100,766,8,0,0.000985,True
372,2023-12-15 18:00:00,1.09099,1.09106,1.09005,1.09006,707,8,0,0.000987,True
373,2023-12-15 18:15:00,1.09006,1.09010,1.08955,1.08994,835,8,0,0.000955,True
374,2023-12-15 18:30:00,1.08994,1.09051,1.08925,1.08932,799,8,0,0.000977,True
375,2023-12-15 18:45:00,1.08935,1.08956,1.08882,1.08932,795,8,0,0.000960,True
376,2023-12-15 19:00:00,1.08930,1.08963,1.08906,1.08921,843,8,0,0.000932,True
377,2023-12-15 19:15:00,1.08921,1.08964,1.08896,1.08919,683,8,0,0.000914,True
378,2023-12-15 19:30:00,1.08918,1.08958,1.08908,1.08956,595,8,0,0.000885,True
379,2023-12-15 19:45:00,1.08959,1.08993,1.08943,1.08993,658,8,0,0.000857,True
380,2023-12-15 20:00:00,1.08989,1.09036,1.08981,1.09006,670,8,0,0.000835,True
381,2023-12-15 20:15:00,1.09004,1.09078,1.09000,1.09071,589,8,0,0.000831,True
382,2023-12-15 20:30:00,1.09072,1.09085,1.09006,1.09008,629,8,0,0.000828,True
383,2023-12-15 20:45:00,1.09009,1.09038,1.08937,1.08939,644,8,0,0.000841,True
384,2023-12-15 21:00:00,1.08937,1.08963,1.08916,1.08922,597,8,0,0.000815,True
385,2023-12-15 21:15:00,1.08925,1.08949,1.08921,1.08937,324,8,0,0.000777,True
386,2023-12-15 21:30:00,1.08937,1.08945,1.08932,1.08944,246,8,0,0.000730,True
387,2023-12-15 21:45:00,1.08943,1.08953,1.08932,1.08945,200,8,0,0.000693,True

In [38]:
# Compute RSI
df['RSI'] = ta.momentum.rsi(df['close'], window=14)

# Compute Moving Average Crossover
df['MA50'] = df['close'].rolling(window=50).mean()
df['MA200'] = df['close'].rolling(window=200).mean()
df['GoldenCross'] = df['MA50'] > df['MA200']

# Compute MACD
# df['MACD'], _, _ = ta.trend.macd(df['close'], fastperiod=12, slowperiod=26, signalperiod=9)

# Compute Bollinger Bands
# df['UpperBand'], df['MiddleBand'], df['LowerBand'] = ta.volatility.bollinger_band(df['close'], window=20, nbdevup=2, nbdevdn=2)

# Compute On-Balance Volume (OBV)
df['OBV'] = ta.volume.on_balance_volume(df['close'], df['tick_volume'])

# Compute Stochastic Oscillator
# df['%K'], df['%D'] = ta.momentum.stoch(df['high'], df['low'], df['close'], fastk_period=14, slowk_period=3, slowd_period=3)

In [39]:
df

,time,open,high,low,close,tick_volume,spread,real_volume,ATR,HighVolatility,RSI,MA50,MA200,GoldenCross,OBV
0,2023-12-11 21:00:00,1.07639,1.07648,1.07631,1.07633,282,8,0,0.000000,False,NaN,NaN,NaN,False,282
1,2023-12-11 21:15:00,1.07634,1.07648,1.07634,1.07639,228,8,0,0.000000,False,NaN,NaN,NaN,False,510
2,2023-12-11 21:30:00,1.07639,1.07645,1.07631,1.07639,223,8,0,0.000000,False,NaN,NaN,NaN,False,733
3,2023-12-11 21:45:00,1.07637,1.07639,1.07620,1.07634,206,8,0,0.000000,False,NaN,NaN,NaN,False,527
4,2023-12-11 22:00:00,1.07627,1.07627,1.07584,1.07604,102,34,0,0.000000,False,NaN,NaN,NaN,False,425
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
383,2023-12-15 20:45:00,1.09009,1.09038,1.08937,1.08939,644,8,0,0.000841,True,36.298303,1.092719,1.093884,False,31305
384,2023-12-15 21:00:00,1.08937,1.08963,1.08916,1.08922,597,8,0,0.000815,True,35.224807,1.092600,1.093905,False,30708
385,2023-12-15 21:15:00,1.08925,1.08949,1.08921,1.08937,324,8,0,0.000777,True,36.995378,1.092476,1.093920,False,31032
386,2023-12-15 21:30:00,1.08937,1.08945,1.08932,1.08944,246,8,0,0.000730,True,37.849153,1.092346,1.093924,False,31278
387,2023-12-15 21:45:00,1.08943,1.08953,1.08932,1.08945,200,8,0,0.000693,True,37.978453,1.092210,1.093928,False,31478

In [41]:
import pandas as pd
import yfinance as yf  # You can use yfinance to fetch stock data


# Fetch data for VIX
vix_data = yf.download('^VIX', start='2022-01-01', end='2023-01-01')

# Fetch data for Put/Call Ratio
pc_ratio_data = yf.download('^CPC', start='2022-01-01', end='2023-01-01')

# Fetch data for S&P 500
sp500_data = yf.download('^GSPC', start='2022-01-01', end='2023-01-01')

# Calculate the percentage of stocks above their 50-day moving average
sp500_data['MA50'] = sp500_data['Close'].rolling(window=50).mean()
sp500_data['AboveMA50'] = sp500_data['Close'] > sp500_data['MA50']
percentage_above_ma50 = sp500_data['AboveMA50'].mean() * 100

# Combine the indicators to create a Fear and Greed Index
fear_greed_index = vix_data['Close'] + pc_ratio_data['Close'] + percentage_above_ma50

[*********************100%%**********************]  1 of 1 completed

[*********************100%%**********************]  1 of 1 completed

1 Failed download:
['^CPC']: Exception('%ticker%: No timezone found, symbol may be delisted')

[*********************100%%**********************]  1 of 1 completed

In [42]:
vix_data

                 Open       High        Low      Close  Adj Close  Volume
Date
2022-01-03  17.600000  18.540001  16.559999  16.600000  16.600000       0
2022-01-04  16.570000  17.809999  16.340000  16.910000  16.910000       0
2022-01-05  17.070000  20.170000  16.580000  19.730000  19.730000       0
2022-01-06  20.290001  21.059999  19.080000  19.610001  19.610001       0
2022-01-07  19.850000  20.799999  18.570000  18.760000  18.760000       0
...               ...        ...        ...        ...        ...     ...
2022-12-23  22.170000  22.639999  20.780001  20.870001  20.870001       0
2022-12-27  21.670000  22.799999  21.590000  21.650000  21.650000       0
2022-12-28  21.469999  22.260000  20.959999  22.139999  22.139999       0
2022-12-29  22.250000  22.309999  21.360001  21.440001  21.440001       0
2022-12-30  21.830000  22.400000  21.590000  21.670000  21.670000       0

[251 rows x 6 columns]

In [ ]:
def compute_sma(history_price):
    f = history_price["close"].to_frame()
    f["SMA50"] = f["close"].rolling(50).mean()
    f["SMA100"] = f["close"].rolling(100).mean()
    f["SMA200"] = f["close"].rolling(200).mean()
    f.dropna(inplace=True)
    return f

In [ ]:
m15_price

In [ ]:
m15_sma = compute_sma(m15_price)

In [ ]:
m15_sma

In [ ]:
for pair in all_pair:
    show_market(engine, pair)